* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(205,88,201);
  background: linear-gradient(0deg, rgba(205,88,201,1) 2%, rgba(238,157,238,1) 100%);
  position: relative;
  padding: 0;
}

.anya-start-quiz {
  width: 50%;
}

.start-quiz-section p {
  margin: 1em 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

.question {
  font-size: 1.5em;
  font-weight: 500;
  margin: .5em 0;
}

p {
  color: whitesmoke;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 1em;
  margin-bottom: .5em;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}


.correct {
  background-color: #68CD96;
  color: whitesmoke;
}

.correct-not-picked {
  background-color: #9fe9c0;
  
}

.incorrect {
  background-color: #FD7D7D;
  color: whitesmoke;
}

.anya-quiz {
    position: fixed;
    width: 200px;
    bottom: -62px;
    left: -4%;
    rotate: 24deg;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media (min-width: 680px) {
  .btn-container {
    display: inline-block;
  }
}